.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgba(118, 122, 123, 0.86);
    z-index: 1000;
    inset: 0;
    .img-container {
      width: 80vw;
      height: 80vh;
      overflow: hidden;
      position: relative;


    }

    .buttonNext{
        background-color: #67c7b9;
        margin-left: 1rem;
    }

    .buttonPrev{
        background-color: #67c7b9;
        margin-right : 1rem;
    }
    .img {
    width: 100%;
    height: auto;
  }
  
  }



  @media only screen and (max-width: 768px) {
    .carousel-container .img-container {
      width: 95vw; 
      height: 70vh; 
      position: fixed; /* or absolute if not fixed */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .buttonNext{
        display: none;
    }
    .buttonPrev{
        display: none;
    }
   
  }

  

  
  
  