@media (min-width: 350px) {
  #anywhere-container {
    /* display: none; */
  }

  .product-carousel-1 {
    height: 4.5rem;
    max-width: 70rem;
    width: 100%;
    /* background-color: blue; */
    margin: 0 auto;
    display: flex;
    padding: 0;
  }

  .product-carousel-1 .pre-btn-1,
  .product-carousel-1 .next-btn-1 {
    /* background-color: blueviolet; */
    height: 100%;
    width: 3rem;
    background-color: white;
    display: grid;
    place-content: center;
  }

  .product-carousel-1 .pre-btn-1,
  .product-carousel-1 .next-btn-1 {
    cursor: pointer;
  }

  #carousel-prod-container {
    width: 100%;
    gap: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }
  #carousel-prod-container .carousel-1 {
    min-width: 95px;
    /* width: auto; */
    /* background-color: red !important; */
    height: 100%;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
  }
  #carousel-prod-container .carousel-1:hover {
    cursor: pointer;
    color: #67c7b9;
    font-weight: bold;
  }
  #carousel-prod-container .carousel-1 .img-container {
    height: 70%;
    display: flex;
    justify-content: center;
    padding: 10px;
    /* align-items: center; */
  }

  #carousel-prod-container .carousel-1 .img-container img {
    height: 100%;
  }
  #carousel-prod-container .carousel-1 .img-container img:hover {
    border: 1px solid white;
    cursor: pointer;
  }
  #carousel-prod-container .carousel-1 .text-container {
    height: 30%;
    font-size: 10px;
  }
  #carousel-prod-container .carousel-1 .text-container p {
    text-wrap: nowrap;
    text-align: center;
  }

  #carousel-prod-container .carousel-1 .text-container p:hover {
    cursor: pointer;
    color: #67c7b9;
    font-weight: bold;
  }
}

.carousel-1 {
  transition: all 5s;
}
