@import "./variables.scss";
@import "./breakpoints.scss";

.navbar {
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 3rem;
  position: sticky !important;
  top: 0;
  z-index: 1000;
  background: white;

  @include sm {
    padding: 10px 20px;
    gap: 1rem;
    flex-direction: column;
    .search-container {
      margin-left: -50px;
    }
  }

  img {
    width: 100px;
    cursor: pointer;
  }
  @include sm {
    // margin-left: -4rem;
  }

  .links-container {
    display: flex;
    flex-grow: 1;

    ul {
      display: flex;
      gap: 2rem;
      margin-left: 1rem;

      li {
        list-style: none;
        font-size: 1.1rem;

        :hover {
          color: #67c7b9;
        }
      }
    }
  }

  &_search {
    border: 1px solid $grey;
    border-radius: 30px;
    height: 50px;
    padding: 0px 20px;
    display: flex;
    // gap: 100px !important;
    align-items: center;
    @include sm {
      gap: 0px !important;
      margin-left: 8%;
    }
    input {
      border: none;
      outline: none;
    }

    &:hover {
      @include shadow;
    }

    @include lg {
      display: none;
    }
  }

  &_right {
    display: flex;
    align-items: center;
    gap: 20px;

    .host {
      text-decoration: none;
      color: black;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        color: #66cccc;
      }

      @include sm {
        display: none;
      }
    }

    &_account {
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      border: 1px solid $grey;
      border-radius: 30px;
      display: flex;
      gap: 10px;
      background-color: white;
      cursor: pointer;

      &:hover {
        @include shadow;
      }

      img {
        width: 40px;
        height: 40px;
        @include sm {
          display: none;
        }
      }
    }

    &_accountmenu {
      position: absolute;
      background-color: white;
      right: 60px;
      top: 80px;
      display: flex;
      flex-direction: column;
      width: 200px;
      padding: 10px 0;
      border: 1px solid $lightgrey;
      border-radius: 20px;
      @include shadow;
      z-index: 9999;

      @include sm {
        right: 6px !important;
        top: 193px !important;
      }

      a {
        width: 100%;
        padding: 8px 15px;
        text-decoration: none;
        color: $blue;
        font-weight: 700;

        &:hover {
          color: #66cccc;
          background-color: rgba(217, 213, 213, 0.2);
        }
      }
    }
  }
}

.guest-container {
  display: flex;
  flex-direction: column;
  .guest-value-container {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
  }
}

.search-container {
  flex-grow: 1;
}

.search-popup {
  background: rgba(155, 155, 155, 0.74);
  position: fixed;
  z-index: 2000;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .container-1 {
    display: flex;
    flex-direction: column;
    .close-btn {
      display: flex;
      justify-content: flex-end;
      font-size: 1.4rem;
    }
    .main-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 1rem;
      background-color: whitesmoke;
      border-radius: 5px;
      .destination {
        display: flex;
        min-height: 4rem;

        .input {
          input {
            height: 2rem;
            border-radius: 5px;
            padding: 2px;
            outline: none;
            border: none;
          }
          .search-btn {
            height: 2rem !important;
            button {
              height: 2rem;
              // padding: 6px 10px;
            }
          }
        }
      }
      .check-in,
      .check-out {
        .label {
          min-width: 5rem;
        }
        display: flex;
        gap: 1rem;
      }
      .guest {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        .label {
          min-width: 5rem;
        }
        .guest-value-container {
          display: flex;
          justify-content: space-between;
          flex-grow: 1;
          .icons {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #mob {
    display: flex;
    .input {
      display: flex;
      align-items: center;
      gap: 1rem;
      box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
      padding: 0.5rem;
      border-radius: 5%;
    }
  }
  #pc {
    display: none;
  }
  .search-container {
    justify-content: center;
    flex-grow: 1;
    width: 100vw;
    margin-left: 0 !important;
  }
  .navbar_right00 {
    .mobHost {
      display: none;
    }
  }
}

@media (min-width: 769px) {
  #mob {
    display: none;
  }
  #pc {
    display: flex;
  }
  .navbar_right00 {
    width: 25vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
