/* General Resets */
/* body, h1, p, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  } */

/* Accordion Styles */
.accordion {
  width: 100%;
  /* max-width: 600px; */
  /* margin: auto; */
  margin-top: 50px;
}
.showbtn {
  display: none;
}
.colorss {
  color: #312e2e;
}

#carouselExampleFade {
  height: 555px !important;
}
@media (max-width: 500px) {
  .carousel-item img {
    width: 427px !important;
  }
}
.carousel-inner {
  height: 100% !important;
}

.carousel-item {
  width: 100% !important;
  height: 100%;
}

.carousel-item img {
  width: 100% !important;
  height: 100%;
}

.accordion-item {
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
  margin-bottom: 16px;
  border: none;
}

.accordion-button {
  padding: 16px;
  background-color: white;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  border-radius: 4px;
}

.accordion-button i.icon {
  float: right;
  color: #ff5a5f;
}

/* Updated Accordion Content Styles */
.accordion-content {
  padding: 0 16px; /* Set padding to 0 initially */
  max-height: 0; /* Set max-height to 0 */
  /* overflow: hidden;  Hide overflow */
  transition: max-height 0.3s ease-out, padding 0.3s ease-out; /* Add transition effect */
  /* background: #f6f6f6; */
  /* border-top: 1px solid #ccc; */
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* New Class for Expanded Content */
.accordion-content.show {
  max-height: 200px;
  padding: 16px; /* Reset the padding */
  transition: max-height 0.3s ease-in, padding 0.3s ease-in; /* Add transition effect */
}

.carouselimgage {
  width: 860px !important;
}

@media (max-width: 1000px) {
  .hideing {
    display: none !important;
    position: fixed;
    width: 100% !important;
    z-index: 100;
    height: 100vh !important;
    top: 0;
  }
  .whitebox {
    display: flex !important;
  }
  .nonflex {
    display: block !important;
    padding: 0;
  }
  .fa-solid {
    display: block !important;
    margin-right: 15px;
  }
  #carouselExampleFade {
    width: auto !important;
  }
}

@media (max-width: 770px) {
  .direct {
    display: flex !important;
    flex-direction: column;
  }
  .fixsize {
    margin: auto;
  }
}
.tt {
  padding: 0px;
  max-height: 20px;
  max-width: 43px;
}

@media (max-width: 430px) {
  .msx {
    margin-left: none !important;
    margin-right: none;
  }
}

@media (max-width: 400px) {
  .msx {
    line-height: 22px;
  }

  .fixsize img {
    width: 100%;
  }
}

.hidecontent {
  display: none;
}

.imageset {
  height: 530px;
  gap: 15px;
  justify-content: center;
  width: 90%;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 20px;
  /* background:grey; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */

  /* width:100%; */
}

.flex2s {
  width: 100%;
  margin: auto;
}

.outerimage {
  height: 100%;
  /* border-top-left-radius: 20px; */
  /* border-bottom-left-radius: 20px; */
  /* width:50% */
}

.outerimage img {
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 650px;
}

.innerimage {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.innerimage2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.innerimage img {
  height: 48%;

  width: 300px;
}

.innerimage2 img {
  height: 48%;

  width: 300px;
}

.innerimage2 img:nth-child(1) {
  border-top-right-radius: 20px;
}

.innerimage2 img:nth-child(2) {
  border-bottom-right-radius: 20px;
}

#mob {
  display: none !important;
}
@media (max-width: 768px) {
  #pc {
    display: none !important;
  }
  #mob {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
  }

  #mob .main-img {
    display: flex;
    height: 16rem;
    border-radius: 15px;
    overflow: hidden;
  }
  #mob .main-img img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  #mob .short-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3.5rem;
  }
  #mob .short-img-container .img {
    height: 100%;
    width: 3.5rem;
  }

  #mob .short-img-container img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  #bottom-img {
    height: 7rem !important;
  }
}
