/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */

.imgbg{
    width:98.5vw;
    height:70vh;
     background:url('../images/attour1.webp');
     background-size:cover;
     background-position:center;
     /* font-family: 'Roboto', sans-serif; */
     
 
 }
 .places{
    color:"#66cccc"!important;
 }
 
.slider{
    width:100%;
    height:10px;
    background-color: #66cccc;
}

.slider .thumb{
    width:23px;
    height:23px;
    cursor:grab;
    background:#66cccc;
    border-radius:50%;
    
    top:-5px;
}

.beach{
    margin-top:15px;
}

input::placeholder{
    color:#fff;
}


@media (max-width:950px){
    .hideeee{
        display:none !important;
        width:100%;
        position: absolute;
        z-index:100;
        background:rgba(0,0,0,0.7);
    }
    .disply{
        display:block !important;
    }
    .fil{
        margin:auto!important;
        background:white;
    }
    .openn{
        display:inline-block !important;
    }

    .exp{
        width:90% !important;
        margin:auto;
    }
   
}

@media (max-width:670px){


    .exp{
       
        width:auto !important;
        margin:auto;
    

    }
   
}


@media (max-width:600px){


    .exp{
       
       width:80% !important;
        margin:auto;
    

    }

    .openn{
        width:20% !important;
    }
   
}




 