@media (max-width: 400px) {
  .cds {
    width: 340px !important;
  }
  .images img {
    width: 340px !important;
  }
}

@media (max-width: 768px) {
  .product-container {
    display: flex;
    gap: 0.5rem;
  }
}
