@media (max-width: 400px) {
  .cds {
    width: 340px !important;
  }
  .images img {
    width: 340px !important;
  }
}

@media only screen and (max-width: 767px) {
  .product-container div p {
    /* font-family: 'Ubuntu', sans-serif !important; */
    font-style: normal !important;
  }
}
#mobile {
  /* display: none !important; */
}
@media (max-width: 768px) {
  #pc {
    display: none;
  }
  #mobile {
    /* display: block !important; */
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 50;
  }
}

/* General styling for product carousel */
.product-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.product-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px; /* Add padding for better mobile appearance */
  box-sizing: border-box;
}

/* Styling for carousel navigation buttons */
.pre-btn,
.next-btn {
  border-radius: 100%;
  width: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0;
  box-shadow: 0px 10px 10px 20px white;
}

.pre-btn:hover,
.next-btn:hover {
  background: none;
}

.next-btn {
  right: 0;
}

.next-btn p,
.pre-btn p {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-align: center;
  height: 14px;
  margin-bottom: 19px;
}

.carousel p {
  text-align: center;
}
/* Mobile-specific styling */
@media (max-width: 767px) {
  .product-container {
    padding: 10px; /* Adjust padding for better mobile appearance */
    justify-content: flex-start; /* Align items to the start on mobile */
  }

  .pre-btn,
  .next-btn {
    top: 40%; /* Adjust vertical position for better mobile appearance */
    font-size: 16px; /* Adjust font size for better mobile appearance */
  }
}

@media (min-width: 350px) {
  #anywhere-container {
    /* display: none; */
  }

  .product-carousel-1 {
    height: 4.5rem;
    max-width: 70rem;
    width: 100%;
    /* background-color: blue; */
    margin: 0 auto;
    display: flex;
    padding: 0;
  }

  .product-carousel-1 .pre-btn-1,
  .product-carousel-1 .next-btn-1 {
    /* background-color: blueviolet; */
    height: 100%;
    width: 3rem;
    background-color: white;
    display: grid;
    place-content: center;
  }

  #carousel-prod-container {
    width: 100%;
    gap: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
    /* overflow: hidden; */
    display: flex;
    justify-content: flex-start;
  }
  #carousel-prod-container .carousel-1 {
    min-width: 95px;
    /* width: auto; */
    /* background-color: red !important; */
    height: 100%;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
  }

  #carousel-prod-container .carousel-1 .img-container {
    height: 70%;
    display: flex;
    justify-content: center;
    padding: 10px;
    /* align-items: center; */
  }
  #carousel-prod-container .carousel-1 .img-container img {
    height: 100%;
  }
  #carousel-prod-container .carousel-1 .text-container {
    height: 30%;
    font-size: 10px;
  }
  #carousel-prod-container .carousel-1 .text-container p {
    text-wrap: nowrap;
  }
}
