.nav-top{
    background-color: #66cccc;
}

.logoimg{
    height:54px;
    width:54px;
}

.navitem li{
    list-style: none;
}
a{
    text-decoration: none;
    color:black
}
.fa-phone:before{
    font-size:17px;
}

@media(max-width:550px){
    .calls{
        display:none!important;
    }
}

@media(max-width:430px){
    .fa-facebook , .emm , .log , .sig{
        margin:0px !important;
    }
}