.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width:100%;
  height:100%;
}
.flex img{
  width:100%;
  height:80%;
}
.modelbtn{
  width:auto;
  /* background-color: transparent; */
  color:black;
  cursor:pointer;
  text-decoration: underline;
}

.divv{
  display: flex;
  justify-content: start;
  align-items: start;
  width:100%;
  height:100%;
}

.closebtn{
  background-color:#66cccc;
  width: 20%;
  /* font-weight: 800; */
  font-family: 'Ubuntu', sans-serif;
  
}
.closebtn:hover{
  background-color:#66cccc !important;
}

.colorss{
  color:#312e2e;
}
/* Add this CSS to create the 3D-like modal effect */
.modal-3d-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-3d-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  transform: translate(0, -50px); /* Adjust the Y translation value for the desired 3D effect */
  width:50%;
  max-width:auto;
  height:auto;
  max-height:500px;
}

.m222{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px !important;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.flexs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width:50%;
  height:100%;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.yourClassName {
  position: relative; /* or absolute */
  /* Other styling properties */
}
.parentContainer {
  overflow: visible; /* or other values based on your layout */
  /* Other styling properties */
}


/* .img {
  width: 100%;
  height: 100%;
} */

.flex-row-wrapper {
  display: flex;
  flex-direction: row;
  width:100%;
  height: 700px;
  /* align-items: center; */
}

/* Add any additional styling as needed */
.mini-img {
  width: 76% !important;
  height: 40% !important;
  /* margin-top: 50px; */
  cursor:pointer;
}

.mini-img:hover {
  transform: scale(1.12);
  transition: all .75s ease-in-out;
}
@media(max-width:500px){
    .carousel-item img{
      height:427px !important;
    }
}

@media only screen and (max-width: 767px) {
  .container.m222 {
    padding: 10px;
  }

  .flex {
    flex-direction: column  !important;
    align-items: center;
    height: 75%;
  }

  .flex-row-wrapper{
    flex-direction: column;
    height: 500px;
    width: 85%;
  }
  .flexs{
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 59%;
    height: 55%;
    position: absolute;
    top: 55%;
    right: 20%;
  }
  
  .flexs:nth-child(2){
    /* display: none; */
  }

  .nonflex {
    width: 100%;
  }

  .mini-img {
    width: 100%;
    margin-bottom: 10px;
  }

  .hideing {
    /* display: none; */
  }

  .colorss {
    font-size: 16px;
  }

  .your-element-class {
    justify-content: center;
    flex-direction: column;
  }

  .ps-4 {
    padding-left: 10px;
  }

  .pb-4 {
    padding-bottom: 10px;
  }

  .facility{
    display: flex;
    justify-content: center;
  }

  .ms-4 {
    margin-left: 10px;
  }

  .fs-5 {
    font-size: 16px;
  }

  .ps-4 .pe-4 {
    padding: 8px;
  }

  .divv {
    margin-top: 10px;
  }

  .btn-sm.modelbtn {
    font-size: 16px;
  }

  .modal-3d-overlay {
    padding: 20px;
  }

  .modal-3d-content {
    max-width: 100%;
  }

  .closebtn {
    margin-top: 0px;
  }

  .bg-white.hide {
    height: 75vh;
    object-fit: contain;
    width: 100%;
    margin-left: 2%;
  }

  .pricesss {
    margin-left: 0;
    display: flex;
  }

  .booking {
    margin: -10%;
  }

  .whitebox {
    height: auto;
  }

  .container1 {
    padding: 10px;
    box-sizing: border-box;
  }
  
  .booking button {
    width: 100%;
    margin-left: 10%;
  }

  .booking{
    margin: -13%;
  }
  .bg-white {
    width: 100%;
  }

  .my-5 {
    height: auto;
  }

  .fa-xmark {
    display: block;
    float: right;
    cursor: pointer;
  }

  .p-5 {
    padding: 1rem;
  }

  #short-img img:nth-child(3){
    display: none;
  }

  /* #outerdiv{
    flex-wrap: wrap;
  } */

}

