.mycard{
    min-width:25px;
    max-width:25px;
    /* height:400px; */
    /* background-color:black; */
    margin:10px;
    color:white;
    /* margin-right:60px; */
    cursor:pointer;
}

.product-container div{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.product-container div p{
    font-family: cursive !important;
    font-size:14px;
}


.product-carousel{
    position: relative;
    overflow:hidden;
    width:900px !important;
    margin:auto;
}

.product-container{
    /* padding: 0 10px; */
    padding-left:50px;
    margin-top:6px;
    display:flex;
    overflow-x:hidden;
    scroll-behavior:smooth;
    justify-content: space-around;
}

.pre-btn , .next-btn{
    /* border:1px solid grey; */
    border-radius:100%;
    width:32px;
    /* height:10px; */
    /* height:100px; */
    position:absolute;
    top:33%;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:white;
    padding:0;
    box-shadow:0px 10px 10px 20px white;
}


.pre-btn:hover , .next-btn:hover{
    background:none;
}

.next-btn{
    right:0;
}


.next-btn p , .pre-btn p{
    font-size:20px;
    /* background-color:rgba(0,0,0,0.436);
    box-shadow:0px 0px 10px 1px black; */
    /* border-radius:50px;  */
    color:black;
    font-weight:bold;
    text-align: center;
    height:14px;
    margin-bottom:19px;
     /* width:50px; */
    /* height:100%;  */
}

@media(max-width:1285px){
    .product-carousel{
        width:1000px !important;
        margin-left:50px;
    }
}


@media(max-width:912px){
    .product-carousel{
        width:800px !important;
        margin-left:50px;
    }
}


@media(max-width:769px){
    .product-carousel{
        width:700px !important;
        margin-left:50px;
    }
}

@media(max-width:540px){
    .product-carousel{
        width:500px !important;
        margin-left:20px;
    }
}

@media(max-width:430px){
    .product-carousel{
        width:300px !important;
        margin-left:50px;
    }
    .pre-btn{
        display:none;
    }
    .next-btn{
        display:none;
    }
}

@media(max-width:400px){
    .product-carousel{
        width:329px !important;
        margin-left:18px;
    }
}